<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Bán hàng nông sản</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<script th:src="@{/js/jquery.simplePagination.js}"></script>
<link
	href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700"
	rel="stylesheet">


<link rel="stylesheet" th:href="@{/css/open-iconic-bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/animate.css}">

<link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
<link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}">
<link rel="stylesheet" th:href="@{/css/magnific-popup.css}">

<link rel="stylesheet" th:href="@{/css/aos.css}">
<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">

<link rel="stylesheet" th:href="@{/css/ionicons.min.css}">

<link rel="stylesheet" th:href="@{/css/bootstrap-datepicker.css}">
<link rel="stylesheet" th:href="@{/css/jquery.timepicker.css}">


<link rel="stylesheet" th:href="@{/css/flaticon.css}">
<link rel="stylesheet" th:href="@{/css/icomoon.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/style1.css}">
<link rel="stylesheet" th:href="@{/css/slick-theme.css}">
<link rel="stylesheet" th:href="@{/css/slick.css}">
<link rel="stylesheet" th:href="@{/css/nouislider.min.css}">

<style type="text/css">

.simple-pagination ul {
	margin: 0 0 20px;
	padding: 0;
	list-style: none;
	text-align: center;
}

.simple-pagination li {
	display: inline-block;
	margin-right: 5px;
}

.simple-pagination li a,
.simple-pagination li span {
	color: #666;
	padding: 5px 10px;
	text-decoration: none;
	border: 1px solid #EEE;
	background-color: #82ae46;
	box-shadow: 0px 0px 10px 0px #EEE;
}
.simple-pagination li span:hover {
	color: #666;
	background-color: #82ae46;
}

.simple-pagination .current  {
	color: #FFF;
	background-color: #82ae46;
	border-color: #FF7182;
}
.simple-pagination .current:hover {
	color: #FFF;
	background-color: #82ae46;
	border-color: #FF7182;
}

.simple-pagination .prev.current,
.simple-pagination .next.current {
	background: #82ae46;
}

</style>

</head>
<body class="goto-here">
	<div th:replace="fragment/header::header"></div>
		<!-- END nav -->

		<div class="hero-wrap hero-bread" id="imageBack">

			<div class="container">
				<div
					class="row no-gutters slider-text align-items-center justify-content-center">
					<div class="col-md-9 ftco-animate text-center">
						<p class="breadcrumbs">
							<span class="mr-2"><a th:href="@{/index}">Home</a></span> <span>Products</span>
						</p>
						<h1 class="mb-0 bread">Products</h1>
					</div>
				</div>
			</div>
		</div>
		

		<section class="ftco-section">
			<div class="dropdown" style="margin-left: 120px;">
				  <button class="btn btn-primary"style="margin-right: 10px;"  data-toggle="modal" data-target="#modalFilter">Lọc theo danh mục</button>				
				  <a style="margin-right: 10px;" href="#">Sắp Xếp theo:</a>
				  <button class="btn btn-primary" type="button" onclick="listProductNewBest()">Mới Nhất</button>
				  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Giá
			  		<span class="caret"></span></button>
			  		<ul class="dropdown-menu">
					    <li><button style="hover: color=red;" class="dropdown-item" onclick="listProductPriceDesc()">Giá cao đến thấp</button></li>
					    <li><button class="dropdown-item" onclick="listProductPriceAsc()">Giá thấp đến cao</button></li>
			  		</ul>
			</div>
			<div class="container" id="page">
				<div class="row" id="dataProduct">
					
				</div>
					<!-- <div class="row mt-5">
						<div class="col text-center">
							<div class="block-27" id="pagination-container">
							</div>
						</div>
					</div> -->
				<!-- end -->
			</div>
			
		</section>
		<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
			<div class="container py-4">
				<div class="row d-flex justify-content-center py-5">
					<div class="col-md-6">
						<h2 style="font-size: 22px;" class="mb-0">Theo dõi bản tin
							của chúng tôi</h2>
						<span>Nhận cập nhật e-mail về các cửa hàng mới nhất của
							chúng tôi và ưu đãi đặc biệt</span>
					</div>
					<div class="col-md-6 d-flex align-items-center">
						<form action="#" class="subscribe-form">
							<div class="form-group d-flex">
								<input type="text" class="form-control"
									placeholder="Enter email address"> <input type="submit"
									value="Subscribe" class="submit px-3">
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
		
		<footer class="ftco-footer ftco-section" th:replace="fragment/footer::footer"></footer>

	<!-- loader -->
	<div id="ftco-loader" class="show fullscreen">
		<svg class="circular" width="48px" height="48px">
			<circle class="path-bg" cx="24" cy="24" r="22" fill="none"
				stroke-width="4" stroke="#eeeeee" />
			<circle class="path" cx="24" cy="24" r="22" fill="none"
				stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg>
	</div>

  <!-- modal filter -->
  
		  <div id="modalFilter" class="modal fade" role="dialog">
		  <div class="modal-dialog">
		
		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <h4 class="modal-title">Danh mục</h4>
		      </div>	
		      <div class="modal-body" th:each= "cate : ${category}">
		        	<ul>
		        		<li>
		        			<input type="radio" name="idCategory" th:value="${cate.idCategory}">
		        			<span th:text="${cate.name}"></span>
		        		</li>
		        	</ul>
		      </div>
		      <div class="modal-footer">
		      <button onclick="showListProductByIdFilter()" type="button" class="btn btn-default" data-dismiss="modal">Lọc</button>
		        <button type="button" class="btn btn-default" data-dismiss="modal">Thoát</button>
		      </div>
		    </div>
		
		  </div>
		</div>

	<script th:src="@{/js/jquery-migrate-3.0.1.min.js}"></script> 
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/jquery.easing.1.3.js}"></script>
	<script th:src="@{/js/jquery.waypoints.min.js}"></script>
	<script th:src="@{/js/jquery.stellar.min.js}"></script>
	<script th:src="@{/js/owl.carousel.min.js}"></script>
	 <script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
	<script th:src="@{/js/aos.js}"></script>
	 <script th:src="@{/js/jquery.animateNumber.min.js}"></script>
	<script th:src="@{/js/bootstrap-datepicker.js}"></script>
	<script th:src="@{/js/scrollax.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>
	<script type="text/javascript">

	$( document ).ready(function() {
		listProduct();
	});
	
	function listProduct(){
		$.ajax({
			type : "GET",
			contentType : "application/json; charset=utf-8",
			dataType : 'json',
			url : "/index/listProductAjax",
			success : function(result){
				/* alert('ok'); */
				detailHtml(result);
			},
			error: function(result){
				
				console.log(result);
				alert('failedd');
			}
		});
	}
	 jQuery(function ($){
	        var items = $("#dataProduct .product");
	        var numItems = items.length;
	        var perPage = 8;
	        items.slice(perPage).hide();
	        $("#pagination-container").pagination({
	            items: numItems,
	            itemsOnPage: perPage,
	            prevText: "&laquo;",
	            nextText: "&raquo;",
	            onPageClick: function (pageNumber) {
	                var showFrom = perPage * (pageNumber - 1);
	                var showTo = showFrom + perPage;
	                items.hide().slice(showFrom, showTo).show();
	            }
	        });
	    });
	
	 
	 var dataPageProduct = "1";
		function detailHtml(result){
			var listProduct = result;
			var origin   = window.location.origin;
			var pathname = $(location).attr('pathname');
			pathname.indexOf(1);
			pathname.toLowerCase();
			pathname = pathname.split("/")[1];
			if(listProduct == null){
				alert("Failed");
			}else{
				
				var dataProduct = $('#dataProduct'); 
				var max_size = listProduct.length;
				var start = 0;
				var element_page = 4;
				var limit = element_page;
				
				/* dataProduct.empty(); */
				dataProduct.empty();
				listPageProduct(start, limit);
				
				 function listPageProduct(start, limit){
					var page = max_size / element_page;
					if(page % 2 == 0){
						listProductpage = page+1;
					}else{
						listProductpage = page;
					}
					
					
					for(var i = start; i < limit; i++){
						/* console.log(listProduct) */
						var html = '<div class="col-md-6 col-lg-3 ftco-animate fadeInUp ftco-animated">'
							+'<div class="product">'
						+ '<a href="' + origin +'/'+ pathname + '/showProductSingle/'+ listProduct[i]['idProduct']+ '" class="img-prod">'
					 	+'<img class="img-fluid" src="data:image/png;base64,'+listProduct[i]['imageBase64']+'" alt="Colorlib Template">'
						+'<span class="status"></span> </a>'
							+'<div class="text py-3 pb-4 px-3 text-center">'
								+'<h3>'
									+'<a href="#">' +listProduct[i]['name']+ '</a>'
								+'</h3>'
								+'<div class="d-flex">'
									+'<div class="pricing">'
									+'<p class="price">'
									+'<span class="price-sale">' +listProduct[i]['price']+ '</span>'
									+'</p>'
									+'</div>'
									+'</div>'
									+'<div class="bottom-area d-flex px-3">'
									+'<div class="m-auto d-flex">'
									+'<a href="' + origin + '/' +pathname+ '/showProductSingle/' +listProduct[i]['idProduct']+ '"'
									+'class="buy-now d-flex justify-content-center align-items-center mx-1">'
									+'<span><i class="ion-ios-cart"></i></span>'
									+'</a>'
									+'</div>'
									+'</div>'
									+'</div>'
							+'</div>'
							+'</div>';
							
							
						dataProduct.append(html);
					}
				}
				 detailHtmlPage(listProductpage,dataProduct);
					$('.pageNumber').click(function(){
						var numberPage = parseInt($(this).attr("data-page"))+1;
						if(numberPage > dataPageProduct){
							limit = element_page + limit;
							start = (start + element_page);
							dataProduct.empty();
							
							
							dataPageProduct = numberPage;
							listPageProduct(start, limit);
							detailHtmlPage(listProductpage,dataProduct);
						}else{
							
							limit = limit -	element_page;
							start = start - element_page;
							dataPageProduct = numberPage;
							
							dataProduct.empty();
							listPageProduct(start, limit);
							detailHtmlPage(listProductpage,dataProduct);
						}
						
					}); 
					
				$('#nextValue').click(function(){
					var numberPage = parseInt(dataPageProduct) + 1 ;
					var next = limit;
					if(next >= dataPageProduct){
						limit = element_page + limit;
						start = (start + element_page);
						dataPageProduct = numberPage;
						dataProduct.empty();
						listPageProduct(start, limit);
						detailHtmlPage(listProductpage,dataProduct);
					}
				});
				
				$('#preeValue').click(function(){
					var numberPage = parseInt(dataPageProduct) ;
					var pre = limit-(2*element_page);
					if(pre >= 0) {
						limit = limit -	element_page;
						start = start - element_page;
						dataPageProduct = numberPage;
						dataProduct.empty();
						listPageProduct(start, limit);
						detailHtmlPage(listProductpage,dataProduct);
					}
				});
				
				
			  }
				
			}
			
		function detailHtmlPage(listProductpage,dataProduct){
			 var html = 
					'<div class="col text-center">'
					+'<div class="block-27">'
					+'<button class="btn btn-primary" id="preeValue" style="margin-right:2px; "><</button>'
					+'<span id="pageNumbers"></span>'
					+'<button class="btn btn-primary" id="nextValue">></button>'
					+'</div>'
					+'</div>';
					dataProduct.append(html);
				 for(var j = 1 ; j <= listProductpage ; j++){
						var item = '<button class="btn btn-primary pageNumber" style="margin-right:2px; data-page="'+j+'">'+j+'</button>';
						$('#pageNumbers').append(item);
					}
					
		}
		
	
	function searchProduct(){
		var key  = $('#nameProduct').val();
			$.ajax({
				type: "POST",
				contentType : "application/json; charset=utf-8",
				dataType : 'json',
				url : "/index/searchAjaxProduct/"+key,
				success: function(result){
					
				},
				
			});
		}
	
	
		
	function listProductNewBest(){
			$.ajax({
				type: "GET",
				contentType : "application/json; charset=utf-8",
				dataType : 'json',
				async : false,
				url : "/index/listProductNewBest",
				success : function(result){
					/* alert('ok'); */
					detailHtml(result);
				},
				error: function(result){
					
					console.log(result);
					alert('failedd');
				}
				
			});
		}
	function listProductPriceDesc(){
			$.ajax({
				type: "GET",
				contentType : "application/json; charset=utf-8",
				dataType : 'json',
				url : "/index/listProductPriceDesc",
				success : function(result){
					detailHtml(result);
				},
				error: function(result){
					alert('failedd');
				}
			});
		}
	function listProductPriceAsc(){
			$.ajax({
				type: "GET",
				contentType : "application/json; charset=utf-8",
				dataType : 'json',
				url : "/index/listProductPriceAsc",
				success : function(result){
					detailHtml(result);
				},
				error: function(result){
					alert('failedd');
				}
			});
		}
		
		// filter
	function showListProductByIdFilter(){
			var id = [];
	        $.each($("input[name='idCategory']:checked"), function(){
	            id.push($(this).val());
	        });
			$.ajax({
				type: "POST",
				contentType : "application/json; charset=utf-8",
				dataType : 'json',
				url : "/index/listProductByIdCategoryFilter/" +id,
				success : function(result){
					detailHtml(result);
					$('idCategory').val('');
				},
				error: function(result){
					alert('failed');
				}
				
			});
		}
		
	</script>
</body>
</html>

