<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Star Admin Premium Bootstrap Admin Dashboard Template</title>
<!-- plugins:css -->
<link rel="stylesheet"
	href="/assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
<link rel="stylesheet"
	href="/assets/vendors/iconfonts/ionicons/css/ionicons.css">
<link rel="stylesheet"
	href="/assets/vendors/iconfonts/typicons/src/font/typicons.css">
<link rel="stylesheet"
	href="/assets/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
<link rel="stylesheet" href="/assets/vendors/css/vendor.bundle.base.css">
<link rel="stylesheet"
	href="/assets/vendors/css/vendor.bundle.addons.css">
<!-- endinject -->
<!-- plugin css for this page -->
<!-- End plugin css for this page -->
<!-- inject:css -->
<link rel="stylesheet" href="/assets/css/shared/style.css">
<!-- endinject -->
<!-- Layout styles -->
<link rel="stylesheet" href="/assets/css/demo_1/style.css">
<!-- End Layout styles -->
<link rel="shortcut icon" href="/assets/images/favicon.png" />
</head>

<body>
	<div class="container-scroller">
		<!-- partial:partials/_navbar.html -->
		     <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row" th:replace="manager/fragment/listNav::nav"></nav>

		<!-- partial -->
		<div class="container-fluid page-body-wrapper">
			<!-- partial:partials/_sidebar.html -->
			       <nav class="sidebar sidebar-offcanvas" id="sidebar" th:replace="manager/fragment/listNav_1::nav_1"></nav>

			<!-- partial -->
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="row">
						<div id="textCenter" class="col-lg-6 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<h4 class="card-title">Cập nhât tài khoản</h4>
									<form th:action="@{/manager/updateUser}"
										th:object="${usernameID}" method="post" role="form">
										<div class="form-group">

											<div class="input-group">
												<input type="hidden" th:field="*{userId}">

											</div>
										</div>
										<div class="form-group">
											<label class="label">Họ Và Tên</label>
											<div class="input-group">
												<input type="text" placeholder="Họ Tên" class="form-control"
													th:field="*{fullname}" readonly="">

											</div>
										</div>
										<div class="form-group">
											<label class="label">Email</label>
											<div class="input-group">
												<input type="text" placeholder="Email" class="form-control"
													th:field="*{email}" readonly="">
											</div>
										</div>
										<div class="form-group">
											<div class="form-check-inline">
												<label style="padding-right: 20px; font-size: 16px;">Chức
													danh:</label> <label class="form-check-label" for="radio1"
													style="font-size: 16px;"> <input type="radio"
													class="form-check-input" id="radio1" name="optradio"
													value="false" checked th:field="*{role}">Admin
												</label> <label class="form-check-label" for="radio2"
													style="font-size: 16px;"> <input type="radio"
													class="form-check-input" id="radio2" name="optradio"
													value="true" th:field="*{role}" style="margin-left: 20px;">Khách hàng
												</label>
											</div>
										</div>
										<div class="form-group">
											<label class="label">Số điện thoại:</label>
											<div class="input-group">
												<input type="text" placeholder="Số điện thoại"
													class="form-control" th:field="*{phone}" readonly="">
											</div>
										</div>
										<div class="form-group">
											<label class="label">Ngày sinh:</label>
											<div class="input-group">
												<input type="date" placeholder="birthday"
													class="form-control" th:field="*{birthday}" readonly="">
											</div>
										</div>
										<div class="form-group">
											<label class="label">Địa chỉ:</label>
											<div class="input-group">
												<input type="text" placeholder="Địa chỉ"
													class="form-control" th:field="*{address}" readonly="">
											</div>
										</div>
										<div class="form-group">
											<div class="input-group">
												<input type="hidden" placeholder="Mật khẩu"
													class="form-control" th:field="*{password}">
											</div>
										</div>
										<div class="form-group">
											<div class="form-check-inline">
												<label class="form-check-label" for="radio1"
													style="font-size: 16px;"> <input type="hidden"
													class="form-check-input" id="radio1" name="optradio"
													value="false" checked th:field="*{gender}">
												</label> <label class="form-check-label" for="radio2"
													style="font-size: 16px;"> <input type="hidden"
													class="form-check-input" id="radio2" name="optradio"
													value="true" th:field="*{gender}">
												</label>
											</div>
										</div>
										<div class="form-group">
											<button class="btn btn-primary">Sửa</button>
										</div>
									</form>
								</div>
							</div>


						</div>
					</div>
				</div>
		        <footer class="footer" th:replace="manager/fragment/footer::footer"></footer>
				<!-- partial -->
			</div>
			<!-- main-panel ends -->
		</div>
		<!-- page-body-wrapper ends -->
	</div>
	<!-- container-scroller -->
	<!-- plugins:js -->
	<script src="/assets/vendors/js/vendor.bundle.base.js"></script>
	<script src="/assets/vendors/js/vendor.bundle.addons.js"></script>
	<!-- endinject -->
	<!-- Plugin js for this page-->
	<!-- End plugin js for this page-->
	<!-- inject:js -->
	<script src="/assets/js/shared/off-canvas.js"></script>
	<script src="/assets/js/shared/misc.js"></script>
	<!-- endinject -->
	<!-- Custom js for this page-->
	<script src="/assets/js/demo_1/dashboard.js"></script>
	<!-- End custom js for this page-->

	<script type="text/javascript">
		function readURL(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();

				reader.onload = function(e) {
					$('#blah').attr('src', e.target.result).width(120).height(
							150);
				};

				reader.readAsDataURL(input.files[0]);
			}
		}
		function readURL_2(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();

				reader.onload = function(e) {
					$('#blah2').attr('src', e.target.result).width(120).height(
							150);
				};

				reader.readAsDataURL(input.files[0]);
			}
		}
		function readURL_1(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();

				reader.onload = function(e) {
					$('#blah1').attr('src', e.target.result).width(120).height(
							150);
				};

				reader.readAsDataURL(input.files[0]);
			}
		}
	</script>
</body>

</html>