<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Star Admin Premium Bootstrap Admin Dashboard Template</title>
<!-- plugins:css -->

<link rel="stylesheet"
	href="../assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
<link rel="stylesheet"
	href="../assets/vendors/iconfonts/ionicons/css/ionicons.css">
<link rel="stylesheet"
	href="../assets/vendors/iconfonts/typicons/src/font/typicons.css">
<link rel="stylesheet"
	href="../assets/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
<link rel="stylesheet"
	href="../assets/vendors/css/vendor.bundle.base.css">
<link rel="stylesheet"
	href="../assets/vendors/css/vendor.bundle.addons.css">
	
	<script src="https://code.jquery.com/jquery-3.4.1.js"
	integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
	crossorigin="anonymous"></script>
<!-- endinject -->
<!-- plugin css for this page -->
<!-- End plugin css for this page -->
<!-- inject:css -->
<link rel="stylesheet" th:href="@{/assets/css/shared/style.css}">
<!-- endinject -->
<!-- Layout styles -->
<link rel="stylesheet" th:href="@{/assets/css/demo_1/style.css}">
<!-- End Layout styles -->
<link rel="shortcut icon" href="/assets/images/favicon.png" />


</head>
<body>
	<div class="container-scroller">
		<!-- partial:partials/_navbar.html -->
		 <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row" th:replace="manager/fragment/listNav::nav"></nav>
		<!-- partial -->
		<div class="container-fluid page-body-wrapper">
			<!-- partial:partials/_sidebar.html -->
			 <nav class="sidebar sidebar-offcanvas" id="sidebar" th:replace="manager/fragment/listNav_1::nav_1"></nav>
			<!-- partial -->
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="row">
						<div class="col-lg-12 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<h4 class="card-title">Danh Sách Thông Tin Sản Phẩm</h4>
									<p class="card-description">
									<a class="btn btn-inverse-success btn-fw" th:href="@{/manager/addProduct}">Thêm Sản Phẩm</a>
									</p>

									<table id="dataTable-listProduct" class="table table-hover">
										<thead>
											<tr>
												<th>Tên Sản Phẩm</th>
												<th>Giá</th>
												<th>Ảnh</th>
												<th>Ngày hết hạn</th>
												<th>Nguồn gốc</th>
												<th>Chi Tiết</th>
												<th>Danh Mục</th>
												<th></th>
											</tr>
										</thead>
										<tbody id="dataForm">
											<tr th:each="product : ${product}">
												<td th:text="${product.name}"></td>
												<td th:text="${product.price}"></td>
												<td><img id="anh"
													th:src="@{'data:image/png;base64,' + ${product.getImageBase64()}}">
												</td>
												<td th:text="${product.dateOfManufacture}"></td>
												<td th:text="${product.origin}"></td>
												<td th:text="${product.description}"></td>
												<td th:text="${product.category.name}"></td>
												<td>
													<a class="btn btn-info"
													th:href="@{'/manager/updateProduct/'+${product.idProduct}}">Cập
														Nhập</a> <a class="btn btn-danger"
													th:href="@{'/manager/deleteProduct/'+${product.idProduct}}">Xóa</a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- content-wrapper ends -->
				 <footer class="footer" th:replace="manager/fragment/footer::footer"></footer>
				<!-- partial -->
			</div>
			<!-- main-panel ends -->
		</div>
		<!-- page-body-wrapper ends -->
	</div>
	
	 <!-- Modal -->
		
    
		 <div id="addProduct" class="modal fade" role="dialog">
		  <div class="modal-dialog">
		
		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <h4 class="modal-title">Sản Phẩm</h4>
		      </div>
		      <div class="modal-body">
		        <p>Thêm sản phẩm</p>
		        <form action="" enctype="multipart/form-data" id="fileUpload">
			        	<div class="col-lg-12">
			        	<div class="row">
			        	<div class="col-lg-6">
				        <div class="form-group">
						    <label for="category">Tên Danh Mục Sản Phẩm</label>
						    <div class="input-group">
								<select class="form-control" id="category">
									<option></option>
								</select>
							</div>
						</div>
				        <div class="form-group">
						    <label for="exampleInputEmail1">Tên Sản Phẩm</label>
						    <input type="text" class="form-control" id="nameAddProduct" placeholder="nhập tên sản phẩm">
						</div>
				        <div class="form-group">
						    <label for="exampleInputEmail1">Giá</label>
						    <input type="text" class="form-control" id="priceAddProduct">
						</div>
						<div class="form-group">
						    <label for="exampleInputEmail1">Ngày Hết Hạn</label>
						    <input type="text" class="form-control" id="dateAddProduct">
						    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
						</div>
			        
			        </div>
			        
			        <div class="col-lg-6">
						<div class="form-group">
						    <label for="exampleInputEmail1">Nguồn Gốc</label>
						    <input type="text" class="form-control" id="originAddProduct" placeholder="nhập nguồn gốc xuất xứ">
						</div>
						<div class="form-group">
						    <label for="exampleInputEmail1">Chi Tiết</label>
						    <input type="text" class="form-control" id="descriptionAddProduct" placeholder="nhập thông tin chi tiết">
						</div>
							        
				        <div class="form-group">
						    <label for="exampleInputEmail1">Ảnh</label>
						    	<div class="input-group">
								<input type="file" name="file" id="imageAddProduct" onchange="readURL(this);" accept="image/x-png,image/jpeg,image/jpg">
		
								</div>
								<div style="height: 150px; width: 120px; border: 1px solid black; margin-top: 10px; margin-left: 0px;">
									<img style="height: 150px; width: 120px;" id="blah" />
								</div>
						</div>
			        
			        </div>
			        		
			        	</div>
			        </div>
		        </form>
		        
		        
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-primary" onclick="addAjaxProduct()" data-dismiss="modal">Lưu</button>
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
		      </div>
		    </div>
		
		  </div>
		</div>
		
		<!-- updateCategory -->
		
		<div id="updateProduct" class="modal fade" role="dialog">
		  <div class="modal-dialog">
		
		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <h4 class="modal-title">Sản Phẩm</h4>
		      </div>
		      <div class="modal-body">
		        <p>Sửa Thông Tin Sản Phẩm</p>
			        <form action="" enctype="multipart/form-data">
			   			 <div class="col-lg-12">
				        	<div class="row">
				        		<div class="col-lg-6">
				        			<input type="hidden" id="idUpdateProduct">
							         <div class="form-group">
									    <label for="category">Tên Danh Mục Sản Phẩm</label>
									    <div class="input-group">
											<select class="form-control" id="categoryUpdate">
												<option></option>
											</select>
										</div>
									</div>
							        <div class="form-group">
									    <label for="exampleInputEmail1">Tên Sản Phẩm</label>
									    <input type="text" class="form-control" id="nameUpdateProduct" placeholder="nhập tên sản phẩm">
									</div>
									<div class="form-group">
									    <label for="exampleInputEmail1">Giá</label>
									    <input type="number" class="form-control" id="priceUpdateProduct">
									</div>
									<div class="form-group">
									    <label for="exampleInputEmail1">Ngày Hết Hạn</label>
									    <input type="date" class="form-control" id="dateUpdateProduct">
									</div>
				        		</div>
				        		<div class="col-lg-6">
				        			<div class="form-group">
									    <label for="exampleInputEmail1">Nguồn Gốc</label>
									    <input type="text" class="form-control" id="originUpdateProduct" placeholder="nhập nguồn gốc xuất xứ">
									</div>
									<div class="form-group">
									    <label for="exampleInputEmail1">Chi Tiết</label>
									    <input type="text" class="form-control" id="descriptionUpdateProduct" placeholder="nhập thông tin chi tiết">
									</div>
									<div class="form-group">
								   			 <label for="exampleInputEmail1">Ảnh</label>
								    	<div class="input-group">
										<input type="file" name="file" id="imageUpdateProduct" onchange="readURL(this);" accept="image/x-png,image/jpeg,image/jpg">
				
										</div>
										<div style="height: 150px; width: 120px; border: 1px solid black; margin-top: 10px; margin-left: 0px;">
											<img style="height: 150px; width: 120px;" id="blah" />
									</div>
								</div>
				        		</div>
				        	</div>
				        </div>     		
			        </form>
		       
		        
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-primary" onclick="updateAjaxProduct()" data-dismiss="modal">Lưu</button>
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
		      </div>
		    </div>
		
		  </div>
		</div>
		
		<!-- deleteCategory -->
		
		<div id="deleteCategory" class="modal fade" role="dialog">
		  <div class="modal-dialog">
		
		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <h4 class="modal-title">Bạn thật sự muốn xóa thông tin này</h4>
		      </div>
		      <div class="modal-footer">
		      <input type="hidden" id="idProductDelete" />
		        <button type="button" class="btn btn-primary" onclick="deleteProduct()" data-dismiss="modal">Xóa</button>
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
		      </div>
		    </div>
		
		  </div>
		</div>
	
	
	<!-- container-scroller -->
	<!-- plugins:js -->
	
	<script src="../assets/vendors/js/vendor.bundle.base.js"></script>
	<script src="../assets/vendors/js/vendor.bundle.addons.js"></script>
	<!-- endinject -->
	<script src="../assets/js/shared/off-canvas.js"></script>
	<script src="../assets/js/shared/misc.js"></script>
	<!-- endinject -->
	<!-- Custom js for this page-->
	<script src="../assets/js/demo_1/dashboard.js"></script>
	
	
	<!-- DataTables -->
	<script th:src="@{/assets/vendors/datatables/jquery.dataTables.js}"></script>
	<script th:src="@{/assets/vendors/datatables/dataTables.bootstrap4.js}"></script>
	<!-- <script type="text/javascript">
		
	$(document).ready(function() {
		showListProduct();
	});
	
	
	
	function readURL(input) {
		if (input.files && input.files[0]) {
			var reader = new FileReader();

			reader.onload = function(e) {
				$('#blah').attr('src', e.target.result).width(120).height(
						150);
			};

			reader.readAsDataURL(input.files[0]);
		}
	}
	
	function showListProduct(){
		$.ajax({
			type : "GET",
			contentType : "application/json; charset=utf-8",
			dataType : 'json',
			url : "/manager/listProductAjax",
			success : function(result){
				detailHtml(result);
			},
			error: function(result){
				
				console.log(result);
				alert('failedd');
			}
		});
	}
	
	function showListCategorySelect(callBack){
		$.ajax({
			type : "POST",
			contentType : "application/json; charset=utf-8",
			dataType : 'json',
			url : "/manager/showListCategoryForProduct",
			success : function(result){
				selectCategory(result);
				if(callBack){
					callBack(result);
				}
			},
			error: function(result){
				
				console.log(result);
				alert('failedd');
			}
		});
	}
	function selectCategory(result){
		
		var listCategory = result;
		if(listCategory == null){
			alert('failed');
		}else{
			$('#category').empty();
			$('#categoryUpdate').empty();
			$.each(listCategory, function(i, item){
				var html = '<option value = "'+item.idCategory+'">'+item.name+'</option>';
				$('#category').append(html);
				$('#categoryUpdate').append(html);
			});
		}
		
	} 
	
	function detailHtml(result){
			var listProduct = result;
			if(listProduct == null){
				alert('failed')
			}else{
				$('#dataForm').empty();
				
				$.each(listProduct, function(i, item){
					var html = '<tr>'
					+'<td id="idProduct-'+item.idProduct+'">'+item.idProduct+'</td>'
					+'<td id="nameProduct-'+item.idProduct+'">'+item.name+'</td>'
					+'<td id="priceProduct-'+item.idProduct+'">'+item.price+'</td>'
					+'<td id="imageProduct-'+item.idProduct+'"><img id="anh" src="data:image/png;base64,'+item.imageBase64+'">'
					+'</td>'
					+'<td id="dateProduct-'+item.idProduct+'">'+item.dateOfManufacture+'</td>'
					+'<td id="originProduct-'+item.idProduct+'">'+item.origin+'</td>'
					+'<td id="descriptionProduct-'+item.idProduct+'">'+item.description+'</td>'
					+'<td id="categoryProduct-'+item.idProduct+'">'+item.category.name+'</td>'
					+'<td>'
					+'<button class="btn btn-info" onclick="setDataUpdateProduct('+item.idProduct+')" data-toggle="modal" data-target="#updateProduct">Cập Nhập</button>'
                    +'<button class="btn btn-danger" data-toggle="modal" data-target="#deleteCategory" onclick="setDataDeleteProduct('+item.idProduct+')">Xóa</button>'
					+'</td>'
				+'</tr>';
				
				$('#dataForm').append(html);
				});
			}
			
	}
	
	
	function addAjaxProduct(){
		const category = {idCategory : $('#category').val()};
		const files = $("#imageAddProduct")[0].files;
		let image = null;
		if(files.length > 0) {
			image = files[0];
		}
		var formData = new FormData();
		formData.append('image', image);
		var dataProduct = { 
				"category" : category,
				"name" : $('#nameAddProduct').val(),
				"price" : $('#priceAddProduct').val(),
				"dateOfManufacture" : $('#dateAddProduct').val(),
				"origin" : $('#originAddProduct').val(),
				"description" : $('#descriptionAddProduct').val()
		};
		formData.append('product', JSON.stringify(dataProduct));
		$.ajax({
			type: "POST",
 			contentType : false,
			url : "/manager/addAjaxProduct",
			data : formData,
			cache : false,
		    processData: false,
			success : function(result){
				detailHtml(result);
				
			},
			error: function(result){
				alert('failedd');
			}
		});
	}
	
	function setDataUpdateProduct(productId){
	/* 	showListCategorySelect(); */
		
		 const category = {name : $('#categoryProduct-'+productId).text()};
		 /*  for(var i = 0; i <= $("#updateProduct option").length;i++ ){
				var a = $("#updateProduct option:nth-child("+i+")").text();
				if(a == product.name){
					$("#updateProduct option:nth-child("+i+")").prop("selected",true);
				}
			}; */
			showListCategorySelect((result) => {
			result
				.map(i => i.name)
				.map((name, i) => {
				
					if(category.name == $("#categoryUpdate option:nth-child("+(i + 1)+")").text()) {
						console.log(i);
						return i;
					}
					return -1;
				}) .filter(v => v >=0)
				.forEach((v) => $("#categoryUpdate option:nth-child("+(v + 1)+")").prop('selected', 'selected'));
		  }); 
		
		$('#idUpdateProduct').val($('#idProduct-'+productId).text());
	    $('#categoryUpdate').val($('#categoryProduct-'+productId).text());
		$('#nameUpdateProduct').val($('#nameProduct-'+productId).text());
		$('#priceUpdateProduct').val($('#priceProduct-'+productId).text());
		$('#dateUpdateProduct').val($('#dateProduct-'+productId).text());
		$('#originUpdateProduct').val($('#originProduct-'+productId).text());
		$('#descriptionUpdateProduct').val($('#descriptionProduct-'+productId).text());
		$('#imageUpdateProduct').val($('#imageProduct-'+productId).text());
	}	
	
	function updateProduct(){
		const category = {idCategory : $('#category').val()};
		const files = $("#imageUpdateProduct")[0].files;
		let image = null;
		if(files.length > 0){
			image = files[0];
		}
		const formData = new FormData();
		formData.append('image', image);
		var dataProduct = {
				"idProduct" : parseInt($('#idUpdateProduct').val()),
				"category" : category,
				"name" : $('#nameUpdateProduct').val(),
				"price" : $('#priceUpdateProduct').val(),
				"dateOfManufacture" : $('#originUpdateProduct').val(),
				"origin" : $('#originUpdateProduct').val(),
				"description" : $('#descriptionUpdateProduct').val()
		}
		formData.append('product', JSON.stringify(dataProduct));
		$.ajax({
			type: "POST",
			contentType : false,
			url : "/manager/updateAjaxProduct",
			data : formData,
			cache : false,
		    processData: false,
			success : function(result){
				detailHtml(result);
			},
			error: function(result){
				alert('failedd');
			}
		});
	}
		
	function setDataDeleteProduct(productId){
		$('#idProductDelete').val($('#idProduct-'+productId).text());
	}
	
	function deleteProduct(){
		var idProduct = parseInt($('#idProductDelete').parent().find('#idProductDelete').val());
		$.ajax({
			type : "POST",
			contentType : "application/json; charset=utf-8",
			dataType : 'json',
			url : "/manager/deleteAjaxProduct/" +idProduct,
			success : function(result){
				detailHtml(result);
			},
			error : function(result){
				 alert('failed');
			}
			
		});
	}
	
	</script> -->
</body>
</html>